<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true" scanPeriod="60 seconds">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>slick-demo.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>slick-demo_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
      <!-- each file should be at most 50MB, keep 7 days worth of history, but at most 20GB -->
      <maxFileSize>50MB</maxFileSize>
      <maxHistory>7</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%date{yyyy-MM-dd HH:mm:ss} - [%level] - %logger - %message%n%xException</pattern>
    </encoder>
  </appender>
  
    <!--
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    <appender name="JSON_TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>INFO</level>
        </filter>
        <remoteHost>api.logmatic.io</remoteHost>
        <port>10514</port>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"logmaticKey":"JMMxUOcfSmC87uvyPZ_UOw", "app.env": "prod", "app.service": "stream-reco", "app.version": "0.0.1"}</customFields>
            <fieldNames>
                <levelValue>[ignore]</levelValue>
                <thread>[ignore]</thread>
            </fieldNames>
        </encoder>
        <keepAliveDuration>1 minutes</keepAliveDuration>
    </appender>
-->
    <logger name="kafka.utils" level="ERROR"/>

    <logger name="akka.event.slf4j.Slf4jLogger" level="ERROR"/>

    <logger name="io.tabmo" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
